# .flake8

[flake8]
max-line-length = 88
exclude =
    .git,
    __pycache__,
    venv/,
    .venv/,
    env/,
    ENV/,
    */venv/*,
    */.venv/*,
    model/,
    notebooks/,
    logs/
extend-ignore = E203, W503